.main-container {
  display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
  }

.navigation{
   grid-area: 1 / 1 / 2 / 6;
   display: flex;
   align-items: center;
   justify-content: space-around;
}


.footer{
  grid-area: 5 / 1 / 6 / 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon-group{
  width: 30vw;
  display: flex;
  justify-content: space-around;
}