*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.App{
  height: 100vh;
  width: 100vw;
}

.App {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .navigation { grid-area: 1 / 1 / 2 / 6; }
  .footer { grid-area: 5 / 1 / 6 / 6; }


